.container{
  font-family: 'Philosopher', sans-serif;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjA1ZT9safjAhVKPBoKHTJSDCcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fquote%2Bbackground&psig=AOvVaw2inpqC8VX8Q7GGdGylaD7U&ust=1562746351091333");
}
.Row{
  border: 2px solid blue;
}
.col-md-6{
  border: 2px solid black;

}
h1{
  padding-top: 2%;
  font-style: normal;
  font-family: sans-serif;
}
