.container{
  font-family: 'Philosopher', italic;
}
.Row{
  border: 2px solid blue;
}
.col-md-6{
  border: 2px solid black;

}
h1{
  padding-top: 2%;
  font-style: normal;
  font-family: sans-serif;
}
.col-md-6 form-group{
font-size: 10px;
font-style: italic;
}
